.navbar{
    ul {
        li{
            > ul.sub-menu{
                display: none;
            }
            &:hover > ul.sub-menu{
                display: flex;
            }
        }
    }
}

.course-director-image{
    position: relative;
}
.course-director-image::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: lightgray;
    z-index: -1;
}

.text-effect{
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(42, 42, 42) 100%);   
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}