@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html:root {
  --primary: #571168;
  --color1: var(--primary);
  --color2: #E6DE02;
  --color3: #00CDE7;
  --color4: #7EC624;
  --color5: #E600CB;
  --text-heading-color: #121212;
  --text-body-color: #646464;
  --strock-color: #CDCDCD;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-color1 {
  background-color: var(--color1);
}

.bg-color2 {
  background-color: var(--color2);
}

.bg-color3 {
  background-color: var(--color3);
}

.bg-color4 {
  background-color: var(--color4);
}

.bg-color5 {
  background-color: var(--color5);
}

.text-primary {
  color: var(--primary);
}

.text-h-primary:hover {
  color: var(--primary);
}

.text-head {
  color: var(--text-heading-color);
}

.text-body {
  color: var(--text-body-color);
}

.border-primary {
  border-color: var(--primary);
}

body, html {
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease !important;
  scroll-behavior: smooth !important;
}

li {
  list-style: disc;
  margin-left: 20px;
}

.list-none {
  list-style: none !important;
  list-style-type: none !important;
  margin-left: 0 !important;
}

.navbar ul li > ul {
  display: none;
}
.navbar ul li:hover > ul {
  display: block;
}

.course-director-image {
  position: relative;
}

.course-director-image::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: lightgray;
  z-index: -1;
}

.text-effect {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(42, 42, 42) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slick-arrow {
  display: none !important;
}

.gallery {
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

@media (max-width: 1200px) {
  .gallery {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 800px) {
  .gallery {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 600px) {
  .gallery {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.gallery img, .gallery video {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.2s;
}

.modal-img, .model-vid {
  width: 100%;
  height: auto;
}

.modal-body {
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--primary);
  font-family: Poppins;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
}

.loading-svg {
  width: 100px;
  -webkit-animation: rotate 3.6s linear infinite;
          animation: rotate 3.6s linear infinite;
}

.loading-svg circle {
  fill: none;
  stroke: var(--primary);
  stroke-width: 6px;
  stroke-dasharray: 300;
  -webkit-animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
          animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

@-webkit-keyframes outline {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 600;
  }
}

@keyframes outline {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 600;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-1turn);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-1turn);
  }
}/*# sourceMappingURL=guides.css.map */