@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2")
    url("./fonts/poppins-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("./fonts/poppins-medium-webfont.woff2") format("woff2")
    url("./fonts/poppins-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./fonts/poppins-semibold-webfont.woff2") format("woff2")
    url("./fonts/poppins-semibold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("./fonts/poppins-bold-webfont.woff2") format("woff2")
    url("./fonts/poppins-bold-webfont.woff") format("woff");
}
html:root {
  --primary: #571168;
  --color1: var(--primary);
  --color2: #e6de02;
  --color3: #00cde7;
  --color4: #7ec624;
  --color5: #e600cb;
  --text-heading-color: #121212;
  --text-body-color: #646464;
  --strock-color: #cdcdcd;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-color1 {
  background-color: var(--color1);
}

.bg-color2 {
  background-color: var(--color2);
}

.bg-color3 {
  background-color: var(--color3);
}

.bg-color4 {
  background-color: var(--color4);
}

.bg-color5 {
  background-color: var(--color5);
}

.text-primary {
  color: var(--primary);
}

.text-h-primary:hover {
  color: var(--primary);
}

.text-head {
  color: var(--text-heading-color);
}

.text-body {
  color: var(--text-body-color);
}

.border-primary {
  border-color: var(--primary);
}

* {
  font-family: "Poppins", sans-serif;
  font-display: swap;
}

body,
html {
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-display: swap;
  transition: all 0.2s ease !important;
  scroll-behavior: smooth !important;
}

li {
  list-style: disc;
  margin-left: 20px;
}

.list-none {
  list-style: none !important;
  list-style-type: none !important;
  margin-left: 0 !important;
}

.navbar ul li > ul {
  display: none;
}
.navbar ul li:hover > ul {
  display: block;
}

.course-director-image {
  position: relative;
}

.course-director-image::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: lightgray;
  z-index: -1;
}

.text-effect {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(42, 42, 42) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slick-arrow {
  display: none !important;
}

.gallery {
  column-count: 1;
  column-gap: 10px;
}

@media (max-width: 1200px) {
  .gallery {
    column-count: 3;
    column-gap: 20px;
  }
}
@media (max-width: 800px) {
  .gallery {
    column-count: 2;
    column-gap: 20px;
  }
}
@media (max-width: 600px) {
  .gallery {
    column-count: 1;
  }
}
.gallery img,
.gallery video {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.2s;
}

.modal-img,
.model-vid {
  width: 100%;
  height: auto;
}

.modal-body {
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--primary);
  font-family: Poppins;
  user-select: none;
}

.title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
}

.loading-svg {
  width: 100px;
  animation: rotate 3.6s linear infinite;
}

.loading-svg circle {
  fill: none;
  stroke: var(--primary);
  stroke-width: 6px;
  stroke-dasharray: 300;
  animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

@keyframes outline {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 600;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-1turn);
  }
}
