@tailwind base;
@tailwind components;
a {
  text-decoration: underline;
  color: var(--primary);
}

.btn {
  @apply no-underline w-fit sm:px-8 px-5 py-3 rounded-full shrink-0 font-medium capitalize md:text-lg text-sm flex items-center gap-2 transition hover:text-black;
}

.filled {
  @apply hover:bg-black hover:text-white text-white;
}
.filled.white {
  @apply bg-white hover:bg-black;
}

.outlined {
  @apply border-2 border-white hover:bg-white;
  color: #ffff;
}
.outlined .white {
  @apply border-white text-white;
}

@tailwind utilities;
